*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color:#deeff6;
}

h1, h2, h3, h4, h5{
    font-family: "Manrope";
    color: #033661;
}

p{
    font-family: "Newsreader";
    color: #033661;
}

main{
    margin: 15px 10%;
}

.abramowitzimg{
    height:20rem;}


/*Header CSS*/

header img{
    width:100%;
    height: 20rem;
}

img{
    max-width: 100%;
    max-height: 100vh;
}

/*Nav CSS*/
nav{
    background-color: #033661;
    overflow:hidden;
    padding:0;
}

ul {
    margin: 0;
}

.menubar li:hover,li:focus{
    background-color: #87C4E1;
}

.menubar li{
    display:block;
    padding:1rem;
    float:right;
    size:1.5rem;
}

.menubar a{
    text-decoration: none;
    color: white;
    font-family: "Manrope";
    font-weight: bold;
}

/*Footer CSS*/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 9;
    background-color: rgba(9,55,91);
    color: rgb(224, 224, 224);
    padding: 25px 5%;
}


.office{
    grid-column: 1/2;
    grid-row:2/4;
}
.po{
    grid-column:1/2;
    grid-row: 6/9;
}

.email, .phone, .fax{
    text-align: end;
}
.email{ 
    grid-column: 3/4;
    grid-row: 2/3;
}
.phone{
    grid-column: 3/4;
    grid-row:4/6;
}
.fax{
    grid-column: 3/4;
    grid-row:7/9;
}


.psychlogo{
    grid-column: 2/3;
    grid-row:2/9;
    max-height: 200px;
    justify-self: center;
}