@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color:#deeff6;
}

h1, h2, h3, h4, h5{
    font-family: "Manrope";
    color: #033661;
}

p, li{
    font-family: "Newsreader";
    color: #033661;
    font-size: 1.2rem;
    line-height: 1.3em;
}

main{
    margin: 15px 5%;
}

img{
  border-radius: 20px;
}

/*Header CSS*/

    .headershort{
      max-width:300px;
      margin:10px 5px 0 10px;
    }

    .headcontainer{
      display:grid;
      justify-content: center;
    }

/*Nav CSS Mobile*/
    nav{
        background-color: #033661;
        padding:0;
        margin: 30px 0;
    }
    nav li:hover, nav li:focus {
        text-decoration: underline;
    }

    .menubar {
        display: flex;
        flex-direction: column;
    }
    
    .menubar li:hover, .menubar li:focus{
        background-color: #87C4E1;
    }
    
    .menubar li{
        position:relative;
        padding:1rem;
        float:right;
        size:1.5rem;
    }
    
    .menubar li a{
        text-decoration: none;
        color: white;
        font-family: "Manrope";
        font-weight: bold;
        display: block;
    }

    .submenubar {
        display: none;
        list-style: none;
        background-color: #87C4E1;
    }

    .submenubar a{
        display: block;
        text-decoration: none;
        color: white;
        font-family: "Manrope";
        font-weight: bold;
    }

    .submenubar li:hover, .submenubar li:focus {
        text-decoration: underline;
    }
    
    .dropdown:hover .submenubar {
        display: block;
    }


/*Footer CSS*/
footer {
    background-color: rgba(9,55,91);
    color: rgb(224, 224, 224);
    padding: 25px 5%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.3fr;
    clear:both;
}

.office{
    grid-row:2/3;
}
.po{
    grid-row: 3/4;
    align-self:end;
}

.email, .phone, .fax{
    grid-column: 2/3;
    text-align:right;
}
.email{ 
    grid-row:2/4;
}
.phone{
    grid-row:2/3;
    align-self:end;
}
.fax{
    grid-row:3/4;
    align-self:end;
}

.psychlogo{
    max-height: 100px;
    grid-row:1/2;
    grid-column: 1/3;
    justify-self: center;
    margin: 5px;
    border-radius: 0;
}

/*Contact CSS*/
.form{
    padding: 5px;
    border:5px;
    justify-items: center;
    display: grid;
    border: solid #033661;
    border-radius: 20px;
    margin:0 10% 25px 10%;
  }
  
  .form h3{
    margin-left: 2rem;
    margin-top: 3rem;
  }
  
  .form div{
    padding:1rem 1rem;
  }

  .form label{
    color:#033661;
  }
  
  input:hover{
    border:solid #033661 2px;
    border-radius: 2px;
  }
  
  .name input{
    width:100%;
    height:2rem;
  }
  
  .submit button{
    width:100%;
    padding:0.5rem;
    border:none;
    border-radius: 10px;
    background-size: 300vw;
    color:aliceblue;
    background-color: rgba(9,55,91);
    transition: background-color 1s;
  }
  
  .submit button:hover, .submit button:focus{
    cursor:pointer;
    background-color: #87C4E1;
  } 

  .thankyou{
    text-align: center;
    margin:25px 0;
  }

  .thankyou a h3{
    background-color: #87C4E1;
    border-radius: 20px;
    padding:20px;
    text-align: center;
    margin:25px 5%;
    transition:background-color 1s;
    transition:color .5s;
  }

  .thankyou a{
    text-decoration: none;
    color:#033661;
  }

  .thankyou a h3:hover, .bluebutton a h3:focus{
    background-color: #033661;
    color:#deeff6;
  }

  /*Home CSS*/
  .home aside{
    padding:30px;
    background-color:#87C4E1;
    border-radius: 20px;
    margin-bottom: 20px;
    border:solid #033661;
  }

  .abramowitzimg{
    display:grid;
    max-height: 300px;
    justify-self:center;
    margin-bottom: 15px;
  }

  .subgrid a{
    text-decoration: none;
  }

  .subgrid a h4{
    background-color: #87C4E1;
    border-radius: 20px;
    padding:20px;
    margin-top:15px;
    text-align: center;
  }

  .subgrid a h4:hover, .subgrid a h4:focus{
    background-color: #033661;
    color: #deeff6;
  }

  /*About CSS*/

  .about ul{
    list-style-type: circle;
  }

  .about h1{
    margin:20px 0 10px 0;
  }

  .about p, .about ul li{
    line-height: 1.3em;
  }

  .personalimg{
    margin:15px 5%;
    max-height: 175px;
    display:grid;
    justify-self: center;
  }

  .aboutimg{
    max-height:250px;
    margin:20px;
  }

  .about a{
    color: #033661;
  }

  .about a:hover, .about a:focus{
    color: #deeff6;
  }

  .centerfloat{
    display:grid;
    justify-content:center;
  }
    /*Ana's pages (about the lab, prospective grad students, reading list) CSS*/
    .about_lab_main h1, .grad_students_main h1 {
      font-size: 40px;
      color: #033661;
      font-family: "Manrope";
      margin-top: 20px;
  }
  
  .about_lab_main p, .grad_students_main p{
    font-size: 18px;
    color: black;
    font-family: "Manrope";
    margin-left: 30px;
    padding: 20px 0 0 0;
  }
  .red_text{
    font-size: 18px;
    color: red;
    font-family: "Manrope";
    margin-left: 30px;
    padding: 20px 0 0 0;
  }


  @media screen and (min-width: 700px) {

    .centerfloat{
      display:inline;
      float:right;
    }
    /*Home CSS*/
    .maingrid{
        display:grid;
        grid-template-columns: 1fr 2fr;
      }
    .maingrid img{
        padding: 0 20px;
    }

    .subgrid{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }

    .abramowitzimg{
        margin-bottom:0;
    }

    /*Footer CSS*/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 8;
    background-color: rgba(9,55,91);
    color: rgb(224, 224, 224);
    padding: 25px 5%;
}

.office{
    grid-column: 1/2;
    grid-row:1/3;
}
.po{
    grid-column:1/2;
    grid-row: 4/7;
}

.email, .phone, .fax{
    text-align: end;
}
.email{ 
    grid-column: 3/4;
    grid-row: 1/2;
}
.phone{
    grid-column: 3/4;
    grid-row:3/4;
}
.fax{
    grid-column: 3/4;
    grid-row:5/7;
}


.psychlogo{
    grid-column: 2/3;
    grid-row:1/8;
    max-height: 150px;
    justify-self: center;
    align-self: center;
}

.form{
width:50%;
margin:0 25% 25px 25%;
}
  /*Nav CSS*/
  nav{
    background-color: #033661;
    padding:0;
    margin: 30px 0;
  }

  .menubar {
    display: flex;
    flex-direction: row;
  }

  .menubar li:hover, .menubar li:focus{
    background-color: #87C4E1;
  }

  .menubar li{
    display:block;
    position:relative;
    padding:1rem;
    float:right;
    size:1.5rem;
  }

  .menubar ul{
    display: none;
    text-align: left;
    flex-direction: column;
    position: absolute;
  }

  .menubar a{
    text-decoration: none;
    color: white;
    font-family: "Manrope";
    font-weight: bold;
  }

  .submenubar {
    display: none;
    list-style: none;
    position: absolute;
    background-color: #87C4E1;
  }

  .submenubar a{
    display: block;
    text-decoration: none;
    color: white;
    font-family: "Manrope";
    font-weight: bold;
  }

  .submenubar li:hover, .submenubar li:focus {
    text-decoration: underline;
  }

  .dropdown:hover .submenubar {
    display: block;
    top: 100%;
    left: 0;
    width: 130%;
  }

  /*About The Anxiety Lab CSS*/
    .about_lab_main h1 {
      font-size: 40px;
      color: #033661;
      font-family: "Manrope";
      margin-top: 20px;
  }
  .about_lab_main p {
    font-size: 18px;
    color: black;
    font-family: "Manrope";
    margin-left: 30px;
    padding: 20px 0;
  }



  }

@media screen and (min-width: 768px){
    main{
        margin: 15px 20%;
    }

}
